.header_section {
  background-color: var(--header-bg-color);
}

.header_logo {
  color: var(--text-color-light);
  font-family: var(--josefin_font);
  text-decoration: none;
  font-size: 24px;
  font-weight: var(--bold);
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.header_menu {
  display: flex;
  width: 100%;
  padding: 32px 0;
  align-items: center;
  justify-content: space-between;
}

.main_nav_list li {
  display: inline-block;
}
.main_nav_list li a {
  text-decoration: none;
  gap: 30px;
  color: var(--text-color-light);
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: var(--regular);
  font-family: var(--aleo_font);
}

.main_nav_list li:not(:last-child) {
  margin-right: 30px;
}